{% extends "base.html" %}

{% block title %}Post Detail{% endblock %}

{% block post_details %}
    {% if post %}
        <div class="post-detail">
            <div class="card">
                <img class="banner" src="{{ post.banner.url }}" alt="{{ post.title }}">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.text }}</p>
                <p class="card-date">{{ post.date }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}